/*cuerpo del documento*/
body{
    background-color: rgb(23, 50, 55);
    color: #f2f2f2; 
}
/*todos los titulos*/
h1{
    font-weight: bold;

}
/*todo el texto*/
p{
    text-align: justify;
}

/*formato del index superior-----------------------------------------------------*/
.topnav{
    overflow: hidden;
    background-color: #051826;
    position: sticky;
    width: 100%;
    height: 90px;
  }
/*almacen de links*/
.topnav li {
    display: block;
    float:right;
  }
  /*links*/
  .topnav a {
    text-decoration: none;
    color: white;
    padding: 50px;
    line-height: 3.5;

      /*MAS O MENOS FUNCIONA*/
  }
  /*poner raton encima del link*/
  .topnavpages a:hover {
    background-color: #cda93f;
    color: black;
}
/*--------------------------------------------------------------------------------*/

/*pie de pagina*/
/*NO ESTÁ SIENDO UTILIZADO*/
.footer {
    background-color: #f1f1f1;
    padding: 10px;
  }
/*imagen logo*/
  #logo{
    width:60px;
    height:60px;
    float: left;
  }
/*imagenes mapas*/
  .Mapa{
    width:30%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #portada{
    width:auto;
    height: auto;
    display: block;

  }
  .campeones{
    max-width:300px;
    max-height: 300px;
    position: relative;
    float: right; 
    top: 40px;
    right: 40px;
    float: right; 
    padding: 20px;

  }

  div.campeonesdiv{
    background-color: #051826;
    color: #f2f2f2;
    width: auto;
    margin: auto;
    border: 3px solid #cda93f;
  }  
  /*GALERIA*/
  div.gallery {
    margin: 5px;
    border: 1px solid #cda93f;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 1px solid #63521d;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  div.form{

    border: 1px solid #cda93f;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }