/*cuerpo del documento*/
body{
    background-color: rgb(23, 50, 55);
    color: #f2f2f2; 
}
/*todos los titulos*/
h1{
    font-weight: bold;

}
/*todo el texto*/
p{
    text-align: justify;
}

/*formato del index superior*/
.topnav{
    overflow: hidden;
    background-color: #051826;}
/*links*/
.topnav a {
    float:right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
  }
  /*poner raton encima del link*/
  .topnav a:hover {
    background-color: #cda93f;
    color: black;
}

/*pie de pagina*/
.footer {
    background-color: #f1f1f1;
    padding: 10px;
  }
/*imagen logo*/
  #logo{
    width:60px;
    height:60px;
  }
/*imagenes mapas*/
  .Mapa{
    width:60%;
    height: 20%;
  }

  .campeones{
    max-width:300px;
    max-height: 300px;
    float: right; 
    padding: 20px;

  }

  div.campeonesdiv{
    background-color: #051826;
    color: #f2f2f2;
    width: auto;
    margin: auto;
    border: 3px solid #cda93f;
  }  
  